
<!--<div *ngIf = "bankCard" class="check-buyer-container">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <th>code</th>-->
<!--      <th>action time</th>-->
<!--      <th>cvv</th>-->
<!--      <th>cardHolder</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>{{bankCard.digitCard}}</td>-->
<!--      <td>{{bankCard.actionTime}}</td>-->
<!--      <td>{{bankCard.cvv}}</td>-->
<!--      <td>{{bankCard.cardHolder}}</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<!--<br>-->
<!--<div>-->

<!--  <button>-->
<!--    <span>Delete bank card</span>-->
<!--  </button>-->

<!--</div>-->



<!--  insert 16-code <br/>-->
<!--  insert actionTime <br/>-->
<!--  insert cvv <br/>-->
<!--  insert cardHolder <br/>-->
<!--  button for save <br/>-->
<!--  button for delete-->
