<h2>Buyer information</h2>

<div *ngIf = "buyer" class = "check-buyer-container">
  <div class="centerify">
    <table>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
      </tr>
      <tr>
        <td>{{buyer.name}}</td>
        <td>{{buyer.surname}}</td>
        <td>{{buyer.gender}}</td>
      </tr>
    </table>
  </div>
  <br>
  <div class="certify">
    <button [routerLink]="'/buyer/checkBankCard'">
      <span>Check bankcard</span>
    </button>

    <button (click)="continueClick()">
      <span>Continue</span>
    </button>

    <button [routerLink]="'/buyer/back'">
      <span>Back</span>
    </button>

  </div>
</div>
