<h2>Welcome to exchange trading application</h2>
<div class="home-container">

  <div *ngIf="buyers" class="listBuyers">
    <select on-change="buyerChange($event)"  style="margin-left: 5px; width: 150px">
      <option selected hidden>Choose buyer</option>
      <option *ngFor="let buyer of buyers">{{buyer.name}}</option>
    </select>
  </div>

  <!-- addBuyer это ссылка которая указывает на компонент AddBuyerComponent, она указыавется в app-routing.module -->
  <button (click)="addBuyerClick()" class="button" style="margin-left: 175px">
    <span>Add buyer</span>
  </button>
  <div class="buttonForCheck">
    <button (click)="onContinueClick()" class="button" style="margin-top: 10px;
    margin-left: 175px; width: 78px"><span>Continue</span>
    </button>
  </div>


</div>
