<h2>Add buyer</h2>

<div class="add-buyer-container">
  <div class="centerify">
    <table>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
      </tr>
      <tr>
        <td><input id="name" style="width: 100px"></td>
        <td><input id="surname" style="width: 100px"></td>
        <td><input id="gender" style="width: 100px"></td>
      </tr>
    </table>
  </div>
  <br>
  <div class="centerify">
    <button (click)="createBuyerClick()">
      <span>Save buyer</span>
    </button>

    <button *ngIf="buyer && !buyer.bankCardId" (click)="createBankCardClick()">
      <span>Create bank card</span>
    </button>

    <button (click)="continueClick()">
      <span>Continue</span>
    </button>

    <button [routerLink]="'/buyer/back'">
      <span>Back</span>
    </button>

  </div>
</div>

<div class="bankCard">

</div>
